<section>
  <header>
    <h2>Cadastrar Nova <b>Regra de Imposto</b></h2>
  </header>

  <form>
    <div class="pure-form">
      <label for="codigo">Código:</label>
      <input class="pure-input-2-3" type="number" id="codigo" placeholder="Digite um código existente...">
      <button class="pure-button">
        <img src="/assets/imagens-do-curso/lupa-pesquisa.png"
          style="max-width: 20px;" alt="">
      </button>
    </div>

    <div class="form-label">
      <label class="form-label" for="nome">Nome:</label>
      <input class="form-control" type="text" id="nome" placeholder="Digite um nome...">
    </div>

    <div class="form-label">
      <label class="form-label" for="taxa">Taxa:</label>
      <input class="form-control" type="number" id="taxa" placeholder="Digite uma taxa...">
    </div>

    <div class="form-label d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary">Gravar</button>
    </div>

  </form>
</section>
