<section>
  <header>
    <h2>Cadastrar Nova <b>Regra de Imposto</b></h2>
  </header>

  <form>
    <div class="pure-form">
      <label for="codigo">Código:</label>
      <input autofocus class="pure-input-2-3" type="number" id="codigo" placeholder="Digite um código existente..."
        (keydown.enter)="onEnterKeyPressed($event)" [(ngModel)]="regraImposto.codigo"
        [ngModelOptions]="{standalone: true}">
      <button class="pure-button" (click)="pesquisa()">
        <img src="/assets/imagens-do-curso/lupa-pesquisa.png" style="max-width: 20px;"
          alt="Lupa azul para abrir página de pesquisa">
      </button>
    </div>

    <div *ngIf="regrasImposto.length > 0, else formularioCadastroRegra">
      <div *ngFor="let regra of regrasImposto">
        <div *ngIf="paragrafo.length == 0, else semRegraImposto">
          <div class="form-label">
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" [value]="regra.nome" id="nome" name="nome"
              placeholder="Digite um nome...">
          </div>

          <div class="form-label">
            <label class="form-label" for="taxa">Taxa:</label>
            <input class="form-control" type="number" [value]="regra.taxa" id="taxa" name="taxa"
              placeholder="Digite uma taxa...">
          </div>
        </div>
      </div>
    </div>

    <div class="form-label d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary">Gravar</button>
    </div>

  </form>
</section>

<ng-template #formularioCadastroRegra>
  <div>
    <div class="form-label">
      <label class="form-label" for="nome">Nome:</label>
      <input class="form-control" type="text" id="nome" name="nome" placeholder="Digite um nome...">
    </div>

    <div class="form-label">
      <label class="form-label" for="taxa">Taxa:</label>
      <input class="form-control" type="number" id="taxa" name="taxa" placeholder="Digite uma taxa...">
    </div>
  </div>
</ng-template>

<ng-template #semRegraImposto>
  <div>
    <p>{{paragrafo}}</p>
  </div>
</ng-template>
