<button (click)="carregarProdutos()">Carregar Produtos</button>

<table *ngIf="Produtos && Produtos.length > 0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Preço de Custo</th>
      <th>Markup</th>
      <th>PrecoVenda</th>
      <th>MargemReal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of Produtos">
      <td>{{ produto.codigo }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.precoCusto}}</td>
      <td>{{ produto.markup}}</td>
      <td>{{ produto.precoVenda}}</td>
      <td>{{ produto.margemReal}}</td>
    </tr>
  </tbody>
</table>
