<section>
  <form>
    <div>
      <label for="nome">Insira o nome para pesquisar:</label> <br>
      <input type="text" id="nome" nome="nome">
    </div>
  </form>

  <table *ngIf="regrasImposto && regrasImposto.length > 0, else semResultado">
    <thead>
      <th>Selecionar</th>
      <th>Código</th>
      <th>Nome</th>
      <th>Taxa</th>
    </thead>
    <tbody>
      <tr *ngFor="let regraImposto of regrasImposto">
        <td><img style="max-width: 20px;" src="/assets/imagens-do-curso/selecionar-regra-imposto.png" alt="Selecionar regra de imposto"></td>
        <td>{{regraImposto.codigo}}</td>
        <td>{{regraImposto.nome}}</td>
        <td>{{regraImposto.taxa}}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #semResultado>
  <section>
    <p>Nenhum resultado encontrado</p>
  </section>
</ng-template>